html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1 rem =10px*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open San', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    margin: 0;
}


/*************************************************** GLOBALES ************************************************************/

.contenedor {
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}

h1,
h2,
h3,
h4 {
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
    line-height: 1.2;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
    border-radius: 5rem;
}


/*************************************************** UTILIDADES ****************************************************/

.centrar-texto {
    text-align: center;
}

.no-margin {
    margin: 0;
}


/*************************************************** GRID ****************************************************/

@media (min-width: 768px) {
    .grid {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .centrar-columnas {
        justify-content: center;
    }
    .columnas-4 {
        flex: 0 0 calc(33.3% - 1rem);
    }
    .columnas-6 {
        flex: 0 0 calc(50% - 1rem);
    }
    .columnas-8 {
        flex: 0 0 calc(66.6% - 1rem);
    }
    .columnas-10 {
        flex: 0 0 calc(83.3% - 1rem);
    }
    .columnas-12 {
        flex: 0 0 100%;
    }
}


/*************************************************** BOTONES ****************************************************/

.boton {
    display: block;
    text-align: center;
    padding-bottom: 1rem 3rem;
    margin-top: 2rem 0;
    color: white;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem;
    border-radius: 1.2rem;
    flex: 0 0 100%;
}

.boton:hover {
    background-color: #3b9b04;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.boton-primario {
    background-color: #000000;
}

.boton-secundario {
    background-color: #784d3c;
}


/****************************************************** HEADER ****************************************************/

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.site-header {
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 60rem;
}

.site-header a {
    color: white;
    text-decoration: none;
}

.site-header h1 {
    text-align: center;
    font-weight: 400;
}

.site-header h1:hover {
    text-align: center;
    font-weight: 400;
    text-shadow: 1px 1px 10px white;
}

.site-header h1 span {
    font-weight: 700;
}

.texto-header {
    color: white;
    text-align: center;
    margin-top: 5rem;
    font-size: 2.2rem;
}

@media (min-width: 768px) {
    .texto-header {
        margin-top: 15rem;
    }
}


/****************************************************** NAVEGACION ****************************************************/

.navegacion a {
    text-align: center;
    display: block;
    font-size: 1.8rem;
}

@media (min-width: 768px) {
    .navegacion a {
        display: inline;
        margin-right: 2rem;
    }
    .navegacion a :last-of-type {
        margin: 0;
    }
}

.navegacion a:hover,
a:active {
    color: #3b9b04;
}


/****************************************************** CONTENIDO PRINCIPAL "HOME" ****************************************************/

.contenido-principal {
    display: flex;
    flex-wrap: wrap;
}

.blog,
.cursos {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
}

.cursos {
    order: -1;
}

@media (min-width: 768px) {
    .contenido-principal {
        justify-content: space-between;
    }
    .blog {
        flex-basis: 66.6%;
    }
    .cursos {
        flex-basis: calc(33.3% - 4rem);
        order: 2;
    }
}


/****************************************************** CONTENIDO BLOG ****************************************************/

.entrada-blog {
    margin-bottom: 2rem;
    border-bottom: 1px solid lightgray;
}

.entrada-blog:last-of-type {
    border: none;
}


/****************************************************** CURSOS SIDEBAR ****************************************************/

.cursos-lista {
    padding: 0;
    list-style: none;
}

.curso {
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid #e1e1e1;
}

.curso:last-of-type {
    border-bottom: none;
}

.curso p {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

.curso p span,
.curso p.descripcion {
    font-weight: 400;
}


/****************************************************** FOOTER ****************************************************/

.site-footer {
    background-color: #000000;
    margin: 0;
    color: white;
}

.contenedor-footer {
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
}

.site-footer h1 {
    text-align: center;
    font-weight: 400;
}

.site-footer h1:hover {
    text-align: center;
    font-weight: 400;
    text-shadow: 1px 1px 1.2px white;
}

.site-footer span {
    font-weight: 700;
}

.site-footer a {
    color: white;
    text-decoration: none;
}

.copyright {
    margin: 0;
    color: white;
    font-size: 3.2;
    text-align: center;
}


/****************************************************** CONTACTO ****************************************************/

.formulario-contacto {
    background-color: white;
    padding: 5rem;
    border: .3rem solid #b4a696;
    border-radius: 1.2rem;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .formulario-contacto {
        margin-top: -10rem;
    }
}

.formulario-contacto .campo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.formulario-contacto .campo label {
    flex: 0 0 8rem;
}

.formulario-contacto .campo input:not([type="submit"]),
.formulario-contacto textarea {
    flex: 1;
    border: 1px solid #e1e1e1;
    padding: 1rem;
    border-color: rgba(0, 0, 0, 0.459);
}

.formulario-contacto textarea {
    height: 30rem;
    background-image: url(../img/contacto2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.3;
}

.formulario-contacto .enviar {
    display: flex;
    justify-content: flex-end;
}